<!DOCTYPE html>
<html>

<head>
    {include file="common/meta" /}
    <link rel="stylesheet" href="__CDN__/assets/js/frontend/contactUs/contactUs.css">
</head>

<body class="contact-us-wrap">
    {include file="common/header" /}
    <div id="header-banner" class="contact-us-header">
        <div class="container relative" style="height: 100%;">
            <div class="contact-us-header-content">
                <p class="title font-bold">CONTACT US</p>
                <div>
                    <span class="glyphicon glyphicon-home"></span>
                    <span>Home</span>
                    »
                    <span>Contact us</span>
                </div>
            </div>
        </div>
    </div>


    <main id="contact-us-body">
        <div class="container">
            <div class="row d-flex contact-us-box">
                <div class="col-md-4">
                    <div class="box-item left">
                        <div class="title f22">
                            Get in touch with us.
                        </div>
                        <form class="contact-from">
                            <div class="form-group">
                                <label for="firstName"><sup>*</sup> First Name</label>
                                <input type="text" class="form-control" id="firstName">
                            </div>
                            <div class="form-group">
                                <label for="lastName"><sup>*</sup> Last Name</label>
                                <input type="text" class="form-control" id="lastName">
                            </div>
                            <div class="form-group">
                                <label for="email"><sup>*</sup> Your email address</label>
                                <input type="email" class="form-control" id="email">
                            </div>
                            <div class="form-group">
                                <label for="mesageTitle">Message Title</label>
                                <input type="text" class="form-control" id="messageTitle">
                            </div>
                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea class="form-control" id="message" rows="5"></textarea>
                            </div>
                            <button type="submit" class="btn btn-info">SEND MESSAGE</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="box-item right">
                        <div class="map">
                            MAP
                        </div>
                        <div class="company-info">
                            <p class="zh-list">
                                <span class="icon glyphicon glyphicon-map-marker"></span>
                                <span>
                                Building C5, Torch Pioneer Park, No.27 Shuangyong Road, Yuetang District, Xiangtan
                                City, Hunan Province.
                                </span>
                            </p>
                            <p class="zh-list">
                                <span class="icon glyphicon glyphicon-globe"></span>
                                <span>www.qianzhi.com</span>
                            </p>
                            <p class="zh-list">
                                <span class="icon glyphicon glyphicon-earphone"></span>
                                <span>+ 86-0731-58266686</span>
                            </p>
                            <p class="zh-list">
                                <span class="icon glyphicon glyphicon-envelope"></span>
                                <span>trade@hnshineway.com.cn</span>
                            </p>
                        </div>
                        <div class="other-communication text-right">
                            <a href="#">
                                <img src="__CDN__/assets/js/frontend/common/icon-facebook.png" alt="logo">
                            </a>
                            <a href="#">
                                <img src="__CDN__/assets/js/frontend/common/icon-in.png" alt="logo">
                            </a>
                            <a href="#">
                                <img src="__CDN__/assets/js/frontend/common/icon-youtube.png" alt="logo">
                            </a>
                            <a href="#">
                                <img src="__CDN__/assets/js/frontend/common/icon-garden.png" alt="logo">
                            </a>
                            <a href="#">
                                <img src="__CDN__/assets/js/frontend/common/icon-twitter.png" alt="logo">
                            </a>
                            <a href="#">
                                <img src="__CDN__/assets/js/frontend/common/icon-p.png" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {include file="common/footer" /}
    {include file="common/script" /}

    <script data-main="__CDN__/assets/js/frontend/contactUs/contactUs.js" src="__CDN__/assets/js/require.min.js">
    </script>

</body>

</html>