.qualification-honor {
  /*li*/
  /*弹出页面*/
}
.qualification-honor ul,
.qualification-honor li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.qualification-honor ul {
  width: 100%;
  height: 100%;
}
.qualification-honor .poR {
  position: relative;
}
.qualification-honor .honor-box {
  position: relative;
  border: 1px solid transparent;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
}
.qualification-honor .honor-box .box-con {
  /*border:1px solid transparent;*/
  width: 88%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 6%;
}
.qualification-honor .honor-box .box-con li {
  text-align: center;
  width: 320px;
  height: 188px;
  background: #fff;
  position: absolute;
  left: 660px;
  top: 66px;
  cursor: pointer;
  /*z-index: 10;*/
  -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.4, transparent), to(rgba(0, 0, 0, 0.2)));
  border-radius: 5px;
}
.qualification-honor .honor-box .box-con li img {
  width: 100%;
  height: 100%;
}
.qualification-honor .honor-box .prev,
.qualification-honor .honor-box .next {
  width: 50%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  z-index: 51;
  cursor: pointer;
}
.qualification-honor .prev {
  left: -44px;
}
.qualification-honor .next {
  right: -41px;
}
.qualification-honor li .b_tit {
  width: 100%;
  height: 40px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0px;
  margin: 0px;
  padding: 0px;
}
.qualification-honor li .liPOpacity {
  width: 100%;
  height: 40px;
  background: #000;
  filter: alpha(opacity=60);
  opacity: 0.6;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
}
.qualification-honor .tit {
  width: 100%;
  height: 40px;
  /*padding: 0 10px;*/
  position: absolute;
  z-index: 2;
  bottom: 0px;
  left: 0px;
}
.qualification-honor .tit > span {
  width: 100%;
  height: 30px;
  font-weight: normal;
  float: left;
  text-align: left;
  line-height: 30px;
  color: #fff;
  border-bottom: 1px solid #2f2f2c;
  margin: 0px;
  padding: 0px;
  text-indent: 10px;
}
.qualification-honor .list a {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.qualification-honor .letvIframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border: 0;
  overflow: hidden;
}
.qualification-honor .letvclose {
  top: 10px;
  right: 10px;
  border: 2px solid #fff;
  color: #fff;
  font: 14px/20px "微软雅黑";
  position: absolute;
}
.qualification-honor iframe {
  border: none;
}
