<!DOCTYPE html>
<html>

<head>
    {include file="common/meta" /}
    <link rel="stylesheet" href="__CDN__/assets/js/frontend/product/detail/detail.css">
</head>

<body class="product-wrap">
    {include file="common/header" /}
    <div id="header-banner" class="product-header">
        <div class="container relative" style="height: 100%;">
            <div class="product-header-content">
                <p class="title font-bold">PRODUCT CENTER</p>
                <div>
                    <span class="glyphicon glyphicon-home"></span>
                    <span>Home</span>
                    »
                    <span>Product Center</span>
                </div>
            </div>
        </div>
    </div>


    <main id="product-detail-body">
        <div class="part-of-main-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-6" style="padding-right: 50px;">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="big-img-wrap"><img src="__CDN__/assets/img/png/robot-product-01.png" alt="product"></div>
                            </div>
                            <div class="col-md-3 d-flex small-img-wrap">
                                <div><img src="__CDN__/assets/img/png/robot-product-01.png" alt="product"></div>
                                <div><img src="__CDN__/assets/img/png/robot-product-01.png" alt="product"></div>
                                <div><img src="__CDN__/assets/img/png/robot-product-01.png" alt="product"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-left: 50px;">
                        <div class="product-name">
                            <span class="f22 font-bold mr-4">Fire Robot</span>
                            <span>Model: QZXF-050</span>
                        </div>
                        <p class="mt-2 mb-4 f12">Fire robots can carry life-detecting devices and carry fire-extinguishing fluids to ensure that people with vital signs are no longer injured twice.</p>
                        <p class="font-bold f12 mb-1">Main Specifications</p>
                        <table class="table table-bordered">
                            <colgroup>
                                <col width="60%">
                                <col width="40%">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td>Maximum driving speed</td>
                                    <td>6km/h</td>
                                </tr>
                                <tr>
                                    <td>Maximum driving speed</td>
                                    <td>6km/h</td>
                                </tr>
                                <tr>
                                    <td>Maximum driving speed</td>
                                    <td>6km/h</td>
                                </tr>
                                <tr>
                                    <td>Maximum driving speed</td>
                                    <td>6km/h</td>
                                </tr>
                                <tr>
                                    <td>Maximum driving speed</td>
                                    <td>6km/h</td>
                                </tr>
                                <tr>
                                    <td>Maximum driving speed</td>
                                    <td>6km/h</td>
                                </tr>
                                <tr>
                                    <td>Maximum driving speed</td>
                                    <td>6km/h</td>
                                </tr>
                                <tr>
                                    <td>Maximum driving speed</td>
                                    <td>6km/h</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>



    </main>

    {include file="common/footer" /}
    {include file="common/script" /}

    <script 
        data-main="__CDN__/assets/js/frontend/product/detail/detail.js" 
        src="__CDN__/assets/js/require.min.js"
    >
    </script>

</body>

</html>