<!DOCTYPE html>
<html>

<head>
    {include file="common/meta" /}
    <link rel="stylesheet" href="__CDN__/assets/qianzhi/frontend/aboutUs/aboutUs.css">
</head>

<body class="about-wrap">
    {include file="common/header" /}
    <div id="header-banner" class="about-header">
        <div class="about-header-detail text-center">
            <span class="d-block title f50 font-bold">QIANZHI ROBOT</span>
            <span class="d-block sub-title f28">Open iNNOVATION, Cooperation and Win-win</span>
            <div class="but-group">
                <a href="/" class="btn btn-default btn-lg mr-4">
                    <img src="" alt="">
                    Advanced Technology
                </a>
                <a href="/" class="btn btn-default btn-lg mr-4">
                    Convenient Order
                </a>
                <a href="/" class="btn btn-default btn-lg">
                    Satisfactory Service
                </a>
            </div>
        </div>
    </div>


    <main id="about-body">
        <!-- out product -->
        <div class="about-body-card our-agency">
            <div class="container card-item">
                <div class="text-center">
                    <span class="top-title">Who we are & what we do</span>
                    <span class="title">OUR AGENCY</span>
                </div>
                <div class="video-wrap">
                    <video class="video" poster="" src="__CDN__/assets/qianzhi/frontend/product/detail/mlxg.mp4" controls="controls" controlsList="nodownload">
                        您的浏览器不支持 video 标签。
                    </video>
                </div>
            </div>
        </div>

        <!-- about us -->
        <div class="about-body-card about-us-technology">
            <div class="part-of-top">
                <div class="container card-item row d-flex">
                    <div class="col-md-5" style="padding-top: 60px">
                        <img width="100%" src="__CDN__/assets/qianzhi/frontend/aboutUs/about-us-technology.png" alt="img">
                    </div>
                    <div class="col-md-7">
                        <span class="top-title">About Us</span>
                        <span class="title mb-0">Qianzhi Robotics</span>
                        <span class="d-block font-bold f18 mb-2">Towards the goal of building a R&D Heights of special robots in China</span>
                        <span class="sub-title">Qianzhi Robotics was established in October 2015 with a registered captial 150 million yuan. It is a hight-tech enterprise specializing in the design and manufacture of special robots, service robots, R&D  manufacture and automation equipment.</span>

                        <div class="item-content mt-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-danger full-width">
                                        Future Direction
                                    </button>
                                </div>
                                <div class="col-md-6 platform-plus text-center">
                                    "Platform Plus" Mode
                                </div>
                                <div class="col-md-12 my-3">
                                    Qianzhi Robot will adhere to the development strategy of "Technology R&D Leading" and develop products in  military. civilian and nuclear power based on the existing universal mobile platform series.
                                </div>
                                <div class="col-md-12">
                                    <div class="px-4 mb-1">
                                        <span class="icon mr-2 mt-1 glyphicon glyphicon-triangle-right"></span>
                                        Intelligent and System integration upgrade
                                    </div>
                                    <div class="px-4 mb-1">
                                        <span class="icon mr-2 mt-1 glyphicon glyphicon-triangle-right"></span>
                                        Continues to promote the technology drive
                                    </div>
                                    <div class="px-4 mb-1">
                                        <span class="icon mr-2 mt-1 glyphicon glyphicon-triangle-right"></span>
                                        Product innovation of the enterprise
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="part-of-bottom text-center">
                <div class="container card-item row">
                    <div class="col-md-3">
                        <div class="tech-item">
                            <img src="__CDN__/assets/qianzhi/frontend/aboutUs/icon-advance.png" alt="advanced">
                            <p>Advance</p>
                            <div>Adhering to the modular design concept, responding to market demands efficiently.</div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="tech-item">
                            <img src="__CDN__/assets/qianzhi/frontend/aboutUs/icon-stabilty.png" alt="advanced">
                            <p>Stabilty</p>
                            <div>Products have been extensively tested and improved to meet the challenges of extreme conditions.</div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="tech-item">
                            <img src="__CDN__/assets/qianzhi/frontend/aboutUs/icon-innovations.png" alt="advanced">
                            <p>Innovations</p>
                            <div>The company is driven by innovation, encouraging innovation and actively innovating.</div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="tech-item">
                            <img src="__CDN__/assets/qianzhi/frontend/aboutUs/icon-reliable.png" alt="advanced">
                            <p>Reliable</p>
                            <div>Rich experience and technical accumulation to create high quality and reliable products.</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <span class="title my-4">Qianzhi Robotics</span>
                        <span class="d-block font-bold f18 pb-4 mb-2">Towards the goal of building a R&D Heights of special robots in China</span>
                        <a href="/" class="btn btn-danger btn-lg">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-body-card about-us-version">
            <div class="container card-item">
                <div class="row d-flex">
                    <div class="col-md-6">
                        <span class="title mb-0">Vision of Qianzhi</span>
                        <span class="d-block font-bold f18 mb-2">Build hight-tech development and production of special robots in China</span>
                        <span class="sub-title">Qianzhi Robotics was established in October 2015 with a registered captial 150 million yuan. It is a hight-tech enterprise specializing in the design and manufacture of special robots, service robots, R&D  manufacture and automation equipment.</span>
                    </div>
                    <div class="col-md-6">
                        <div class="row text-center">
                            <div class="col-md-6">
                                <div class="img-wrap">
                                    <img width="100%" src="__CDN__/assets/qianzhi/frontend/aboutUs/our-team.jpg" alt="img">
                                    <div class="our-team">
                                        <span>Our Team</span>
                                        <span>A great team for research and development</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="img-wrap">
                                    <img width="100%" src="__CDN__/assets/qianzhi/frontend/aboutUs/production-base.jpg" alt="img">
                                    <div class="production-base">
                                        <span>Robot Production Base</span>
                                        <span>Special platform for robot R&D and testing</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row version-steps">
                    <div class="col-md-4">
                        <div class="d-flex">
                            <span>01.</span>
                            <div>
                                <p class="title">Websites development</p>
                                <span>Lorem usce volutpat lectus justo, ut suscipit felis congue ut. Vivamus ut ultricies ante dictum.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-flex">
                            <span>02.</span>
                            <div>
                                <p class="title">Digital marketing</p>
                                <span>Sed interdum, lacus et vuiputate pellentesque, velit nulla commodo sem metus vel sapien!</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-flex">
                            <span>03.</span>
                            <div>
                                <p class="title">Mobile apps</p>
                                <span>Lacus - et vlptate pellentesque, velit Sed interdum, lacus et vulputate pellentesque velit nulla commodo.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-flex">
                            <span>04.</span>
                            <div>
                                <p class="title">Ecommerce</p>
                                <span>Gravrida amet nulla. Lorem usce volutpat lectus justo, ut suscipit feils congue ut. Vivamus ut ultricies.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-flex">
                            <span>05.</span>
                            <div>
                                <p class="title">Brand management</p>
                                <span>At egestas nuulla metus vel sapien! Lorem ipsum dolor sitamet communitas erdum - lacus et vulpurate!</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="d-flex">
                            <span>06.</span>
                            <div>
                                <p class="title">Hosting</p>
                                <span>Vulputate pellen tesque, velit nulla commondo sem, at egestast vulputate pellentesquue velit nulla dolor.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-body-card about-us-honor">
            <div class="part-of-honor">
                <div class="container">

                </div>
            </div>
            <div class="part-of-timezone">
                <div class="container">
                    
                </div>
            </div>
        </div>

    </main>

    {include file="common/footer" /}
    {include file="common/script" /}

    <script 
        data-main="__CDN__/assets/qianzhi/frontend/home/home.js"
        src="__CDN__/assets/qianzhi/require.min.js"
    >
    </script>

</body>

</html>