<!DOCTYPE html>
<html>

<head>
    {include file="common/meta" /}
    <link rel="stylesheet" href="__CDN__/assets/js/frontend/news/detail/detail.css">
</head>

<body class="news-wrap">
    {include file="common/header" /}
    <div id="header-banner" class="news-header">
        <div class="container relative" style="height: 100%;">
            <div class="news-header-content">
                <p class="title font-bold">NEWS CENTER</p>
                <div>
                    <span class="glyphicon glyphicon-home"></span>
                    <span>Home</span>
                    »
                    <span>News Center</span>
                </div>
            </div>
        </div>
    </div>


    <main id="news-detail-body">
        <div class="container">
            <div class="title f30 text-center">Company website official launch notice</div>
            <div class="date text-center mb-4">
                <img class="icon mr-1" src="__CDN__/assets/js/frontend/news/icon-date.png" alt="Date">
                <span>2013-09-11</span>
            </div>
            <p class="info-content">Hunan Qianzhi Robot Technology Development Co., Ltd. was established in October 2015
                with a registered capital of RMB 150 million. It is a high-tech enter price specializing in the design
                and manufacture of special robots, service robots, R&D, manufacturing and automation equipment.</p>
            <p class="info-content">Hunan Qianzhi Robot Technology Development Co., Ltd. was established in October 2015
                with a registered capital of RMB 150 million. It is a high-tech enter price specializing in the design
                and manufacture of special robots, service robots, R&D, manufacturing and automation equipment.</p>
            <p class="info-content">Hunan Qianzhi Robot Technology Development Co., Ltd. was established in October 2015
                with a registered capital of RMB 150 million. It is a high-tech enter price specializing in the design
                and manufacture of special robots, service robots, R&D, manufacturing and automation equipment.</p>

            <div class="row part-of-img">
                <div class="col-md-4">
                    <div class="img-wrap">
                        <img src="__CDN__/assets/js/frontend/news/news-01.png" alt="news">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="img-wrap">
                        <img src="__CDN__/assets/js/frontend/news/news-02.jpg" alt="news">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="img-wrap">
                        <img src="__CDN__/assets/js/frontend/news/news-03.jpg" alt="news">
                    </div>
                </div>
            </div>

            <div class="pagination-button clearfix">
                <div class="col-md-6">
                    <div class="d-iblock cursor-pointer">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        PREV:
                        <span class="summery">Company website official launch notice</span>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <div class="d-iblock cursor-pointer">
                        NEXT:
                        <span class="summery">Company website official launch notice</span>
                    </div>
                </div>
            </div>

        </div>

    </main>

    {include file="common/footer" /}
    {include file="common/script" /}

    <script data-main="__CDN__/assets/js/frontend/news/detail/detail.js" src="__CDN__/assets/js/require.min.js">
    </script>

</body>

</html>